Repository akka/alpakka-kafka, pull requests merged in 2019-12, with the labels that each got.

#994 Use akka.test.timefactor
  tests/src/it/resources/reference.conf
  tests/src/test/resources/application.conf
Labels: tests

#861 ConsumerSetting: Add group instance id setter
  core/src/main/scala/akka/kafka/ConsumerSettings.scala
Labels: core

#996 Deprecations: since version 2.0.0
  core/src/main/scala/akka/kafka/ProducerSettings.scala
  core/src/main/scala/akka/kafka/javadsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Consumer.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaTest.java
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
Labels: core, testkit

#993 Tests: capture logging to show it for failed tests
  build.sbt
  tests/src/it/resources/logback-test.xml
  tests/src/test/java/docs/javadsl/AssignmentTest.java
  tests/src/test/java/docs/javadsl/AssignmentWithTestcontainersTest.java
  tests/src/test/java/docs/javadsl/AtLeastOnceTest.java
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/java/docs/javadsl/FetchMetadataTest.java
  tests/src/test/java/docs/javadsl/MetadataClientTest.java
  tests/src/test/java/docs/javadsl/ProducerExampleTest.java
  tests/src/test/java/docs/javadsl/ProducerWithTestcontainersTest.java
  tests/src/test/java/docs/javadsl/TestkitSamplesTest.java
  tests/src/test/java/docs/javadsl/TransactionsExampleTest.java
  tests/src/test/resources/logback-test.xml
  tests/src/test/scala/akka/kafka/ConfigSettingsSpec.scala
  tests/src/test/scala/akka/kafka/ConsumerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/ProducerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConnectionCheckerSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConsumerSpec.scala
  tests/src/test/scala/akka/kafka/internal/EnhancedConfigSpec.scala
  tests/src/test/scala/akka/kafka/internal/OffsetAggregationSpec.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/internal/SubscriptionsSpec.scala
  tests/src/test/scala/akka/kafka/javadsl/ControlSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ConnectionCheckerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ControlSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredConsumerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/SpecBase.scala
  tests/src/test/scala/akka/kafka/tests/CapturingAppender.scala
  tests/src/test/scala/akka/kafka/tests/LogbackUtil.scala
  tests/src/test/scala/akka/kafka/tests/javadsl/LogCapturingExtension.scala
  tests/src/test/scala/akka/kafka/tests/javadsl/LogCapturingJunit4.scala
  tests/src/test/scala/akka/kafka/tests/scaladsl/LogCapturing.scala
Labels: tests

#997 Temporary fix for #978: avoid ConcatIterator
  core/src/main/scala/akka/kafka/internal/BaseSingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala
Labels: core

#998 Release notes 2.0.0-M1
  docs/src/main/paradox/home.md
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/release-notes/index.md
Labels: documentation

#1000 Release notes update to call the release 2.0.0-M2 instead
  docs/src/main/paradox/release-notes/2.0.x.md
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaTest.java
Labels: documentation, testkit

#995 Stage ID traceability
  core/src/main/scala/akka/kafka/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/BaseSingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/ExternalSingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/LoggingWithId.scala
  core/src/main/scala/akka/kafka/internal/SingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/TransactionalSources.scala
  tests/src/test/resources/logback-test.xml
Labels: core, tests

#992 Rebalance: filter messages of revoked partitions (partitioned)
  core/src/main/scala/akka/kafka/internal/BaseSingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/CommittableSources.scala
  core/src/main/scala/akka/kafka/internal/ExternalSingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/PlainSources.scala
  core/src/main/scala/akka/kafka/internal/SingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/SourceLogicBuffer.scala
  core/src/main/scala/akka/kafka/internal/SourceLogicSubscription.scala
  core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/TransactionalSources.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/SpecBase.scala
  tests/src/test/scala/akka/kafka/scaladsl/TransactionsSpec.scala
Labels: core, testkit, tests

#1003 Build: fail for unformatted Java sources
  .travis.yml
  build.sbt
Labels: testkit

#1002 Docs: use apidoc for most classes
  docs/src/main/paradox/atleastonce.md
  docs/src/main/paradox/consumer-metadata.md
  docs/src/main/paradox/consumer.md
  docs/src/main/paradox/producer.md
  docs/src/main/paradox/subscription.md
  docs/src/main/paradox/testing-testcontainers.md
  docs/src/main/paradox/transactions.md
  project/plugins.sbt
Labels: documentation

#1008 Fix failing apidoc links
  docs/src/main/paradox/producer.md
Labels: documentation

#1007 CommittingSpec: add logging
  core/src/main/scala/akka/kafka/internal/CommittableSources.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
Labels: core, tests

#1005 Kafka 2.4 final
  build.sbt
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
  testkit/src/main/resources/reference.conf
Labels: documentation, testkit

#1010 Alpakka Kafka 2.0.0-RC1 release notes
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#926 sbt 1.3.5
  .jvmopts-travis
  .travis.yml
  build.sbt
  project/build.properties
  project/plugins.sbt
Labels: documentation
