Repository akka/alpakka-kafka, pull requests merged in 2019-11, with the labels that each got.

#962 Producer: some concurrency and naming improvements
  core/src/main/scala/akka/kafka/internal/DefaultProducerStage.scala
Labels: core

#959 Committable: deprecate commitJavadsl and commitScaladsl
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerBenchmarks.scala
  core/src/main/mima-filters/1.1.0.backwards.excludes/PR959-committable-deprecations.excludes
  core/src/main/scala/akka/kafka/ConsumerMessage.scala
  core/src/main/scala/akka/kafka/internal/MessageBuilder.scala
  core/src/main/scala/akka/kafka/scaladsl/Committer.scala
  core/src/main/scala/akka/kafka/scaladsl/Consumer.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
  docs/src/main/paradox/consumer.md
  tests/src/test/java/docs/javadsl/ProducerWithTestcontainersTest.java
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConsumerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RetentionPeriodSpec.scala
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
Labels: benchmarks, core, documentation, tests

#967 Producer: remove unreleased variants; simplify producer passing
  core/src/main/scala/akka/kafka/javadsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Transactional.scala
  tests/src/test/java/docs/javadsl/ProducerWithTestcontainersTest.java
Labels: core, tests

#960 Docs: remove duplicated producer tests
  docs/src/main/paradox/producer.md
  tests/src/test/java/docs/javadsl/ProducerExampleTest.java
Labels: documentation, tests

#970 Cleanup KafkaSpec before termination of embedded server
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/EmbeddedKafkaLike.scala
Labels: testkit

#975 Commit refreshing: fix bug from aggregating offsets
  build.sbt
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  docs/src/main/paradox/testing-testcontainers.md
  tests/src/test/scala/akka/kafka/scaladsl/RetentionPeriodSpec.scala
Labels: core, documentation, tests, to-be-backported

#981 Docs: more links to API docs
  CONTRIBUTING.md
  README.md
  build.sbt
  docs/src/main/paradox/atleastonce.md
  docs/src/main/paradox/consumer-metadata.md
  docs/src/main/paradox/consumer-rebalance.md
  docs/src/main/paradox/consumer.md
  docs/src/main/paradox/debugging.md
  docs/src/main/paradox/discovery.md
  docs/src/main/paradox/errorhandling.md
  docs/src/main/paradox/home.md
  docs/src/main/paradox/index.md
  docs/src/main/paradox/producer.md
  docs/src/main/paradox/production.md
  docs/src/main/paradox/serialization.md
  docs/src/main/paradox/subscription.md
  docs/src/main/paradox/testing-testcontainers.md
  docs/src/main/paradox/testing.md
  docs/src/main/paradox/transactions.md
  project/plugins.sbt
Labels: documentation

#971 Kafka 2.4.0-RC1
  benchmarks/src/main/scala/akka/kafka/benchmarks/PerfFixtureHelpers.scala
  build.sbt
  core/src/main/scala/akka/kafka/internal/DefaultProducerStage.scala
  core/src/main/scala/akka/kafka/internal/TransactionalProducerStage.scala
  core/src/main/scala/akka/kafka/javadsl/Producer.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/KafkaTestKit.scala
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/KafkaSpec.scala
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/scala/akka/kafka/internal/ConsumerDummy.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RetentionPeriodSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/TransactionsSpec.scala
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
Labels: benchmarks, core, testkit, tests

#900 Add wrapper for Metadata requests #497
  core/src/main/scala/akka/kafka/javadsl/MetadataClient.scala
  core/src/main/scala/akka/kafka/scaladsl/MetadataClient.scala
  docs/src/main/paradox/consumer-metadata.md
  tests/src/test/java/docs/javadsl/MetadataClientTest.java
  tests/src/test/scala/akka/kafka/scaladsl/MetadataClientSpec.scala
  tests/src/test/scala/docs/scaladsl/FetchMetadata.scala
Labels: core, documentation, tests

#963 Committing producer sink: producer and committer in a sink stage
  benchmarks/src/it/scala/akka/kafka/benchmarks/AlpakkaCommittableProducer.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/AlpakkaCommittableSinkFixtures.scala
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  core/src/main/scala/akka/kafka/internal/DefaultProducerStage.scala
  core/src/main/scala/akka/kafka/internal/DeferredProducer.scala
  core/src/main/scala/akka/kafka/internal/TransactionalProducerStage.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/KafkaSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittableSinkSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
Labels: benchmarks, core, testkit, tests

#991 Stage Logic and Actor logging with ID
  core/src/main/scala/akka/kafka/internal/BaseSingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  core/src/main/scala/akka/kafka/internal/DefaultProducerStage.scala
  core/src/main/scala/akka/kafka/internal/DeferredProducer.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/LoggingWithId.scala
  core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/TransactionalProducerStage.scala
Labels: core

#986 PartitionAssignmentHandler: add onLost
  core/src/main/mima-filters/1.1.0.backwards.excludes/PR-986-partittionAssignmentHandler-onLost.excludes
  core/src/main/scala/akka/kafka/Subscriptions.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/PartitionAssignmentHelpers.scala
  core/src/main/scala/akka/kafka/internal/SingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/TransactionalSources.scala
  core/src/main/scala/akka/kafka/javadsl/PartitionAssignmentHandler.scala
  core/src/main/scala/akka/kafka/scaladsl/PartitionAssignmentHandler.scala
  docs/src/main/paradox/consumer-rebalance.md
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
Labels: core, documentation, tests
