Repository akka/alpakka-kafka, pull requests merged in 2019-09, with the labels that each got.

#881 Revise Committing docs
  core/src/main/resources/reference.conf
  docs/src/main/paradox/consumer.md
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/resources/application.conf
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
Labels: documentation

#885 Remove pre-1.0 release notes from ToC
  build.sbt
  docs/src/main/paradox/release-notes/index.md
Labels: documentation

#889 Add page descriptions for HTML meta tags
  docs/src/main/paradox/atleastonce.md
  docs/src/main/paradox/consumer-metadata.md
  docs/src/main/paradox/consumer.md
  docs/src/main/paradox/errorhandling.md
  docs/src/main/paradox/producer.md
  docs/src/main/paradox/production.md
  docs/src/main/paradox/release-notes/1.0.x.md
  docs/src/main/paradox/snapshots.md
  docs/src/main/paradox/subscription.md
  docs/src/main/paradox/testing.md
  docs/src/main/paradox/transactions.md
Labels: documentation

#890 Fix package name; add links to Alpakka
  docs/src/main/paradox/home.md
Labels: documentation

#891 Docs: security setup
  docs/src/main/paradox/production.md
Labels: documentation

#896 Benchmarks: await all messages
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerBenchmarks.scala
Labels: benchmarks

#898 Benchmarks: Create topics with data only once per run
  benchmarks/src/it/scala/akka/kafka/benchmarks/Benchmarks.scala
  benchmarks/src/it/scala/akka/kafka/benchmarks/NoCommitBackpressure.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaConsumerFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaProducerFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaTransactionFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/PerfFixtureHelpers.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaProducerFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaTransactionFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/Timed.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/app/RunTestCommand.scala
Labels: benchmarks

#903 Clarify exactly-once-semantics limitations
  docs/src/main/paradox/transactions.md
Labels: documentation

#902 Benchmarks: producer writing 500 bytes messages
  benchmarks/src/it/scala/akka/kafka/benchmarks/Benchmarks.scala
  benchmarks/src/it/scala/akka/kafka/benchmarks/NoCommitBackpressure.scala
  benchmarks/src/it/scala/akka/kafka/benchmarks/Producer.scala
Labels: benchmarks

#906 Benchmarks: try producing with ridiculous parallelism
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaProducerFixtures.scala
Labels: benchmarks

#907 Benchmarks: try producing with even more ridiculous parallelism
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaProducerFixtures.scala
Labels: benchmarks

#908 Committable partitioned source with manual offset seek support
  build.sbt
  core/src/main/scala/akka/kafka/CommitterSettings.scala
  core/src/main/scala/akka/kafka/internal/CommittableSources.scala
  core/src/main/scala/akka/kafka/javadsl/Consumer.scala
  core/src/main/scala/akka/kafka/scaladsl/Consumer.scala
  docs/src/main/paradox/consumer.md
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
Labels: core, documentation, tests

#917 Benchmarks: create new topics for producers tests
  benchmarks/src/it/scala/akka/kafka/benchmarks/Producer.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/PerfFixtureHelpers.scala
Labels: benchmarks
