Repository akka/alpakka-kafka, pull requests merged in 2019-05, with the labels that each got.

#793 Choose version explicitly in TestcontainersKafkaLike
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/TestcontainersKafkaLike.scala
Labels: testkit

#797 Make EmbeddedKafkaJunit4Test extend KafkaJunit4Test
  testkit/src/main/java/akka/kafka/testkit/javadsl/EmbeddedKafkaJunit4Test.java
  tests/src/test/resources/logback-test.xml
  tests/src/test/scala/docs/scaladsl/AssignmentSpec.scala
Labels: testkit

#799 Add Committer.batchFlow
  benchmarks/src/it/scala/akka/kafka/benchmarks/BenchmarksBase.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/Benchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/FixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaConsumerBenchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaConsumerFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaProducerBenchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaProducerFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaTransactionBenchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaTransactionFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/PerfFixtureHelpers.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerBenchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaProducerBenchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaProducerFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaTransactionBenchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaTransactionFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/Timed.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/app/RunTestCommand.scala
  build.sbt
  core/src/main/scala/akka/kafka/scaladsl/Committer.scala
Labels: enhancement

#807 Add benchmarks for consumptions from multiple partitions
  benchmarks/src/it/scala/akka/kafka/benchmarks/Benchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaConsumerFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaProducerFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaTransactionFixtureGen.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/PerfFixtureHelpers.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaProducerFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaTransactionFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/app/RunTestCommand.scala
Labels: enhancement

#812 Explicitly enable avro specific deserializer in the documentation
  tests/src/test/scala/docs/scaladsl/SerializationSpec.scala
Labels: documentation

#815 readme updates
  CONTRIBUTING.md
  docs/src/main/paradox/testing.md
Labels: documentation
