Repository akka/alpakka-kafka, pull requests merged in 2019-10, with the labels that each got.

#918 Release notes for 1.1.0-RC2
  docs/src/main/paradox/release-notes/1.1.x.md
Labels: documentation

#919 Benchmarks: try fresh topic for batched consumer 5000k
  benchmarks/src/it/scala/akka/kafka/benchmarks/BatchedConsumer.scala
  benchmarks/src/it/scala/akka/kafka/benchmarks/Benchmarks.scala
  benchmarks/src/it/scala/akka/kafka/benchmarks/Transactions.scala
Labels: benchmarks

#892 Tests: change assertions to fix #832
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
Labels: tests

#922 Benchmarks: don't reuse topics for raw batched consumers
  benchmarks/src/it/scala/akka/kafka/benchmarks/BatchedConsumer.scala
Labels: benchmarks

#925 Release notes for 1.1.0
  docs/release-train-issue-template.md
  docs/src/main/paradox/release-notes/1.1.x.md
  project/plugins.sbt
Labels: documentation

#931 Committer: change type bound to allow offset batches
  core/src/main/scala/akka/kafka/javadsl/Committer.scala
  core/src/main/scala/akka/kafka/scaladsl/Committer.scala
  tests/src/test/scala/docs/scaladsl/AtLeastOnce.scala
Labels: core, tests

#932 Create `committableSink` as combination of Producer.flexiFlow an…
  core/src/main/scala/akka/kafka/javadsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
  docs/src/main/paradox/consumer.md
  docs/src/main/paradox/producer.md
  testkit/src/main/java/akka/kafka/testkit/javadsl/BaseKafkaTest.java
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
Labels: core, documentation, testkit, tests

#937 Mima 0.6.0 and exclusions for #931
  build.sbt
  core/src/main/mima-filters/1.1.0.backwards.excludes/PR931-committer-type-bounds.excludes
  project/plugins.sbt
Labels: core

#836 Akka Discovery support
  build.sbt
  core/src/main/mima-filters/1.1.x.backwards.excludes
  core/src/main/resources/reference.conf
  core/src/main/scala/akka/kafka/ConsumerSettings.scala
  core/src/main/scala/akka/kafka/ProducerSettings.scala
  core/src/main/scala/akka/kafka/internal/DefaultProducerStage.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/ProducerStage.scala
  core/src/main/scala/akka/kafka/internal/TransactionalProducerStage.scala
  core/src/main/scala/akka/kafka/javadsl/DiscoverySupport.scala
  core/src/main/scala/akka/kafka/javadsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/DiscoverySupport.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Transactional.scala
  docs/src/main/paradox/consumer.md
  docs/src/main/paradox/discovery.md
  docs/src/main/paradox/index.md
  docs/src/main/paradox/producer.md
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/KafkaSpec.scala
  tests/src/test/java/docs/javadsl/ConsumerSettingsTest.java
  tests/src/test/java/docs/javadsl/ProducerExampleTest.java
  tests/src/test/java/docs/javadsl/ProducerSettingsTest.java
  tests/src/test/resources/logback-test.xml
  tests/src/test/scala/akka/kafka/ConsumerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/ProducerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/TimestampSpec.scala
  tests/src/test/scala/docs/scaladsl/ProducerExample.scala
Labels: core, documentation, testkit, tests

#865 Illustrate how max.poll.records affects buffer
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
Labels: tests

#939 Use testcontainers for multi-broker integration tests and benchmarks
  .github/autolabeler.yml
  .travis.yml
  benchmarks/src/it/scala/akka/kafka/benchmarks/Benchmarks.scala
  benchmarks/src/it/scala/akka/kafka/benchmarks/SpecBase.scala
  benchmarks/src/main/resources/logback.xml
  benchmarks/src/main/scala/akka/kafka/benchmarks/PerfFixtureHelpers.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/app/RunTestCommand.scala
  build.sbt
  docker-compose.yml
  docs/src/main/paradox/index.md
  docs/src/main/paradox/release-notes/1.0.x.md
  docs/src/main/paradox/testing-testcontainers.md
  docs/src/main/paradox/testing.md
  project/plugins.sbt
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaTest.java
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/akka/kafka/testkit/KafkaTestkitTestcontainersSettings.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/KafkaTestKit.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafkaHelper.scala
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/TestcontainersKafkaLike.scala
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/TestcontainersKafkaPerClassLike.scala
  tests/src/it/resources/logback-test.xml
  tests/src/it/scala/akka/kafka/IntegrationTests.scala
  tests/src/it/scala/akka/kafka/PartitionedSourceFailoverSpec.scala
  tests/src/it/scala/akka/kafka/PlainSourceFailoverSpec.scala
  tests/src/test/java/docs/javadsl/TestkitTestcontainersTest.java
  tests/src/test/scala/akka/kafka/scaladsl/SpecBase.scala
Labels: benchmarks, core, documentation, testkit, tests

#945 Remove methods deprecated before 1.0
  core/src/main/mima-filters/1.1.0.backwards.excludes/PR945-remove-deprecations.excludes
  core/src/main/scala/akka/kafka/ConsumerSettings.scala
  core/src/main/scala/akka/kafka/Metadata.scala
  core/src/main/scala/akka/kafka/ProducerSettings.scala
  core/src/main/scala/akka/kafka/javadsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
Labels: core

#944 Producer: change default parallelism
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaProducerFixtures.scala
  core/src/main/resources/reference.conf
Labels: benchmarks, core

#953 CommittableOffsetBatch: Handle multiple committer refs
  core/src/main/scala/akka/kafka/internal/CommittableSources.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/MessageBuilder.scala
  tests/src/test/resources/application.conf
  tests/src/test/scala/akka/kafka/internal/OffsetAggregationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
Labels: core, tests

#952 Pass ProducerSettings to stage
  core/src/main/resources/reference.conf
  core/src/main/scala/akka/kafka/ProducerSettings.scala
  core/src/main/scala/akka/kafka/internal/DefaultProducerStage.scala
  core/src/main/scala/akka/kafka/internal/ProducerStage.scala
  core/src/main/scala/akka/kafka/internal/TransactionalProducerStage.scala
  core/src/main/scala/akka/kafka/javadsl/Committer.scala
  core/src/main/scala/akka/kafka/javadsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Committer.scala
  core/src/main/scala/akka/kafka/scaladsl/Producer.scala
  core/src/main/scala/akka/kafka/scaladsl/Transactional.scala
  docs/src/main/paradox/producer.md
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/KafkaSpec.scala
  tests/src/it/resources/logback-test.xml
  tests/src/test/java/docs/javadsl/ProducerExampleTest.java
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
  tests/src/test/scala/docs/scaladsl/ProducerExample.scala
Labels: core, documentation, testkit, tests

#954 Make EmbeddedKafka a provided dependency
  build.sbt
  docs/src/main/paradox/testing.md
  tests/src/main/scala/akka/kafka/KafkaPorts.scala
  tests/src/test/java/docs/javadsl/TransactionsExampleTest.java
  tests/src/test/scala/akka/kafka/scaladsl/TransactionsSpec.scala
  tests/src/test/scala/docs/scaladsl/TransactionsExample.scala
Labels: documentation, tests

#946 Rebalance: filter messages of revoked partitions
  core/src/main/scala/akka/kafka/internal/BaseSingleSourceLogic.scala
  core/src/main/scala/akka/kafka/internal/SingleSourceLogic.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
Labels: core, tests

#958 DrainingControl: expose failures on overwritten methods
  core/src/main/scala/akka/kafka/scaladsl/Consumer.scala
  tests/src/test/java/docs/javadsl/ProducerExampleTest.java
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/docs/scaladsl/TransactionsExample.scala
Labels: core, tests
