Repository akka/alpakka-kafka, pull requests merged in 2020-10, with the labels that each got.

#1207 ScalaTest 3.1 with rewrites
  .scala-steward.conf
  build.sbt
  tests/src/test/scala/akka/kafka/ConfigSettingsSpec.scala
  tests/src/test/scala/akka/kafka/ConsumerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/ProducerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/TransactionsOps.scala
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConnectionCheckerSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConsumerSpec.scala
  tests/src/test/scala/akka/kafka/internal/EnhancedConfigSpec.scala
  tests/src/test/scala/akka/kafka/internal/OffsetAggregationSpec.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/internal/SubscriptionsSpec.scala
  tests/src/test/scala/akka/kafka/javadsl/ControlSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ConnectionCheckerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ControlSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredConsumerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/SpecBase.scala
  tests/src/test/scala/docs/scaladsl/DocsSpecBase.scala
  tests/src/test/scala/docs/scaladsl/TestkitSamplesSpec.scala
Labels: tests

#1210 ScalaTest 3.1 fixes for it tests
  benchmarks/src/it/scala/akka/kafka/benchmarks/SpecBase.scala
  tests/src/it/scala/akka/kafka/PartitionedSourceFailoverSpec.scala
  tests/src/it/scala/akka/kafka/PlainSourceFailoverSpec.scala
  tests/src/it/scala/akka/kafka/TransactionsPartitionedSourceSpec.scala
  tests/src/it/scala/akka/kafka/TransactionsSourceSpec.scala
Labels: benchmarks, tests

#1102 Kafka 2.6.0 client upgrade and drop Scala 2.11 support
  .travis.yml
  benchmarks/src/main/scala/akka/kafka/benchmarks/KafkaTransactionFixtureGen.scala
  build.sbt
  core/src/main/scala/akka/kafka/internal/TransactionalSources.scala
  docs/src/main/paradox/home.md
  docs/src/main/paradox/release-notes/2.1.x.md
  docs/src/main/paradox/release-notes/index.md
  docs/src/main/paradox/testing.md
  project/project-info.conf
  testkit/src/main/java/akka/kafka/testkit/internal/AlpakkaKafkaContainer.java
  tests/src/main/scala/akka/kafka/KafkaPorts.scala
  tests/src/test/scala/akka/kafka/internal/ConsumerDummy.scala
  tests/src/test/scala/akka/kafka/scaladsl/ConnectionCheckerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MultiConsumerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ReconnectSpec.scala
  tests/src/test/scala/docs/scaladsl/PartitionExamples.scala
Labels: benchmarks, core, documentation, testkit, tests

#1209 Drop Akka 2.5 dependency
  .travis.yml
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerBenchmarks.scala
  build.sbt
  docs/src/main/paradox/cluster-sharding.md
  testkit/src/main/java/akka/kafka/testkit/javadsl/BaseKafkaTest.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/EmbeddedKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/EmbeddedKafkaTest.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/KafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/KafkaTest.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaTest.java
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/KafkaSpec.scala
  tests/src/it/scala/akka/kafka/TransactionsPartitionedSourceSpec.scala
  tests/src/it/scala/akka/kafka/TransactionsSourceSpec.scala
  tests/src/test/java/docs/javadsl/AssignmentTest.java
  tests/src/test/java/docs/javadsl/AssignmentWithTestcontainersTest.java
  tests/src/test/java/docs/javadsl/AtLeastOnceTest.java
  tests/src/test/java/docs/javadsl/ClusterShardingExample.java
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/java/docs/javadsl/ConsumerSettingsTest.java
  tests/src/test/java/docs/javadsl/FetchMetadataTest.java
  tests/src/test/java/docs/javadsl/MetadataClientTest.java
  tests/src/test/java/docs/javadsl/ProducerExampleTest.java
  tests/src/test/java/docs/javadsl/ProducerSettingsTest.java
  tests/src/test/java/docs/javadsl/ProducerWithTestcontainersTest.java
  tests/src/test/java/docs/javadsl/SchemaRegistrySerializationTest.java
  tests/src/test/java/docs/javadsl/SendProducerTest.java
  tests/src/test/java/docs/javadsl/SerializationTest.java
  tests/src/test/java/docs/javadsl/TestkitSamplesTest.java
  tests/src/test/java/docs/javadsl/TestkitTestcontainersTest.java
  tests/src/test/java/docs/javadsl/TransactionsExampleTest.java
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConsumerSpec.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredConsumerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/TransactionsSpec.scala
  tests/src/test/scala/docs/scaladsl/ClusterShardingExample.scala
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
  tests/src/test/scala/docs/scaladsl/TestkitSamplesSpec.scala
  tests/src/test/scala/docs/scaladsl/TransactionsExample.scala
Labels: benchmarks, core, documentation, testkit, tests

#1230 Testkit: enable Mima
  build.sbt
  testkit/src/main/mima-filters/2.0.x.backwards.excludes
Labels: testkit
