Repository akka/alpakka-kafka, pull requests merged in 2020-02, with the labels that each got.

#1035 Fix logging an error with cause
  core/src/main/scala/akka/kafka/internal/LoggingWithId.scala
Labels: core

#1037 Discard of external offsets on rebalance
  core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
Labels: core, tests

#1033 Java API createCommittableOffsetBatch accepts Committable
  core/src/main/mima-filters/2.0.1.backwards.excludes/PR1033-widen-type-for-committablebatch-factory-method.excludes
  core/src/main/scala/akka/kafka/ConsumerMessage.scala
  tests/src/test/java/docs/javadsl/AtLeastOnceTest.java
Labels: core, tests

#1044 Tests: Consistent ScalaTest PatienceConfig
  tests/src/it/scala/akka/kafka/PartitionedSourceFailoverSpec.scala
  tests/src/it/scala/akka/kafka/PlainSourceFailoverSpec.scala
  tests/src/it/scala/akka/kafka/TransactionsPartitionedSourceSpec.scala
  tests/src/it/scala/akka/kafka/TransactionsSourceSpec.scala
  tests/src/test/scala/akka/kafka/ConsumerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittableSinkSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredConsumerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MisconfiguredProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/SpecBase.scala
  tests/src/test/scala/akka/kafka/scaladsl/TransactionsSpec.scala
  tests/src/test/scala/docs/scaladsl/AssignmentSpec.scala
  tests/src/test/scala/docs/scaladsl/DocsSpecBase.scala
  tests/src/test/scala/docs/scaladsl/FetchMetadata.scala
  tests/src/test/scala/docs/scaladsl/SerializationSpec.scala
  tests/src/test/scala/docs/scaladsl/TestkitSamplesSpec.scala
Labels: tests

#1046 Don't close shared Producer on fail
  core/src/main/scala/akka/kafka/internal/DeferredProducer.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
Labels: core, tests

#1043 CommittingProducerSink: Fix count on failure
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
Labels: core, tests

#1041 CommittingProducerSink: outstanding commits on multi-msg
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
Labels: core, tests

#1034 Upgrade to CP 5.4.0
  build.sbt
  testkit/src/main/resources/reference.conf
  tests/src/test/java/akka/kafka/javadsl/EmbeddedKafkaWithSchemaRegistryTest.java
  tests/src/test/scala/docs/scaladsl/SerializationSpec.scala
Labels: testkit, tests

#1048 Increase test timefactor on Travis
  .travis.yml
  tests/src/test/resources/application.conf
  tests/src/test/scala/docs/scaladsl/SerializationSpec.scala
Labels: tests

#1050 Eventually consumer should close
  tests/src/test/scala/akka/kafka/internal/ConsumerSpec.scala
Labels: tests

#1047 Tackle CommittingWithMockSpec flakiness
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
Labels: tests

#1052 Update settings for Transactions docs Examples
  tests/src/it/resources/reference.conf
  tests/src/test/java/docs/javadsl/TransactionsExampleTest.java
  tests/src/test/scala/akka/kafka/TransactionsOps.scala
  tests/src/test/scala/docs/scaladsl/TransactionsExample.scala
Labels: tests

#1061 2.0.2 Release Notes
  docs/src/main/paradox/debugging.md
  docs/src/main/paradox/discovery.md
  docs/src/main/paradox/home.md
  docs/src/main/paradox/release-notes/2.0.x.md
  docs/src/main/paradox/testing.md
  project/plugins.sbt
Labels: documentation
