Repository akka/alpakka-kafka, pull requests merged in 2020-06, with the labels that each got.

#1122 Docs: link to Producer object
  docs/src/main/paradox/send-producer.md
Labels: documentation

#1125 Fix a typo in the producer documentation
  docs/src/main/paradox/producer.md
Labels: documentation

#1123 Do not commit offsets for unassigned partitions
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  tests/src/test/scala/akka/kafka/scaladsl/RetentionPeriodSpec.scala
Labels: core, tests

#1131 Add produce consume check to KafkaContainerCluster
  testkit/src/main/java/akka/kafka/testkit/internal/AlpakkaKafkaContainer.java
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
Labels: testkit

#1132 Docs: show use of Protocol Buffers
  build.sbt
  docs/src/main/paradox/serialization.md
  tests/src/main/proto/order.proto
  tests/src/main/scala/akka/kafka/KafkaPorts.scala
  tests/src/test/java/docs/javadsl/SchemaRegistrySerializationTest.java
  tests/src/test/java/docs/javadsl/SerializationTest.java
  tests/src/test/java/docs/javadsl/proto/OrderMessages.java
  tests/src/test/scala/docs/scaladsl/SchemaRegistrySerializationSpec.scala
  tests/src/test/scala/docs/scaladsl/SerializationSpec.scala
  tests/src/test/scala/docs/scaladsl/proto/Order.scala
  tests/src/test/scala/docs/scaladsl/proto/OrderProto.scala
Labels: documentation, tests
