Repository akka/alpakka-kafka, pull requests merged in 2020-12, with the labels that each got.

#1268 Maximum number of transient failures for Transactions integration tests
  tests/src/it/scala/akka/kafka/TransactionsPartitionedSourceSpec.scala
  tests/src/it/scala/akka/kafka/TransactionsSourceSpec.scala
  tests/src/test/scala/akka/kafka/TransactionsOps.scala
Labels: tests

#1267 Run link validator and release drafter (as GitHub workflows)
  .github/workflows/link-validator.yml
  .github/workflows/release-drafter.yml
  build.sbt
  docs/src/main/paradox/debugging.md
  docs/src/main/paradox/release-notes/1.0.x.md
  project/Whitesource.scala
  scripts/link-validator.conf
Labels: documentation

#1263 Fix message-batch loss when rebalancing partitioned sources
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceExtSpec.scala
Labels: core, tests, to-be-backported

#1281 Testkit: Make Testcontainer logs visible
  .travis.yml
  testkit/src/main/java/akka/kafka/testkit/internal/AlpakkaKafkaContainer.java
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
  testkit/src/main/mima-filters/2.1.0-M1.backwards.excludes/PR1281-testcontainers-logs.excludes
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/akka/kafka/testkit/KafkaTestkitTestcontainersSettings.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
  tests/src/it/resources/logback-test.xml
  tests/src/it/resources/reference.conf
  tests/src/test/resources/application.conf
Labels: testkit, tests

#1260 Refactor KafkaAsyncConsumerCommitterRef
  core/src/main/scala/akka/kafka/internal/CommittableSources.scala
  core/src/main/scala/akka/kafka/internal/MessageBuilder.scala
  testkit/src/main/scala/akka/kafka/testkit/ConsumerResultFactory.scala
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
Labels: core, testkit, tests

#1287 Update default CP version and make docker image/tag configurable
  build.sbt
  docs/src/main/paradox/testing-testcontainers.md
  testkit/src/main/java/akka/kafka/testkit/internal/AlpakkaKafkaContainer.java
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
  testkit/src/main/java/akka/kafka/testkit/internal/SchemaRegistryContainer.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaTest.java
  testkit/src/main/mima-filters/2.1.0-M1.backwards.excludes/PR1287-testcontainer-docker-images.excludes
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/akka/kafka/testkit/KafkaTestkitTestcontainersSettings.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
  tests/src/test/scala/akka/kafka/scaladsl/RetentionPeriodSpec.scala
Labels: documentation, testkit, tests, to-be-backported

#1293 Use Scala 2.13.4 (and avoid warnings)
  build.sbt
  project/build.properties
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceExtSpec.scala
Labels: tests

#1292 TestKit: make consumerDefaults parameterless again
  testkit/src/main/scala/akka/kafka/testkit/internal/KafkaTestKit.scala
Labels: testkit

#1296 Docs: show proper shutdown in the RestartSource examples
  docs/src/main/paradox/errorhandling.md
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
Labels: documentation, tests

#1295 2.0.6 Release Notes
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation
