Repository akka/alpakka-kafka, pull requests merged in 2020-07, with the labels that each got.

#1135 Replace embedded kafka with schema registry with testcontainers
  build.sbt
  docs/src/main/paradox/testing-testcontainers.md
  docs/src/main/paradox/testing.md
  testkit/src/main/java/akka/kafka/testkit/internal/AlpakkaKafkaContainer.java
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
  testkit/src/main/java/akka/kafka/testkit/internal/SchemaRegistryContainer.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/TestcontainersKafkaTest.java
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/akka/kafka/testkit/KafkaTestkitTestcontainersSettings.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/TestcontainersKafkaLike.scala
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/TestcontainersKafkaPerClassLike.scala
  tests/src/main/scala/akka/kafka/KafkaPorts.scala
  tests/src/test/java/akka/kafka/javadsl/EmbeddedKafkaWithSchemaRegistryTest.java
  tests/src/test/java/docs/javadsl/SchemaRegistrySerializationTest.java
  tests/src/test/resources/application.conf
  tests/src/test/scala/docs/scaladsl/SchemaRegistrySerializationSpec.scala
Labels: documentation, testkit, tests

#1136 Deprecate embedded kafka support
  docs/src/main/paradox/testing.md
  testkit/src/main/java/akka/kafka/testkit/javadsl/EmbeddedKafkaJunit4Test.java
  testkit/src/main/java/akka/kafka/testkit/javadsl/EmbeddedKafkaTest.java
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/EmbeddedKafkaLike.scala
  tests/src/test/scala/akka/kafka/scaladsl/EmbeddedKafkaSampleSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/MultiConsumerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ReconnectSpec.scala
  tests/src/test/scala/docs/scaladsl/PartitionExamples.scala
Labels: documentation, testkit, tests

#1146 metrics-core 4.1.10.1 (was 3.2.6)
  build.sbt
Labels: benchmarks

#1144 scalapb-runtime 0.10.7 (was 0.10.4)
  build.sbt
Labels: tests

#1149 commons-compress 1.20 (was 1.19)
  build.sbt
Labels: testkit

#1160 Emit offset batches on timer
  core/src/main/scala/akka/kafka/internal/CommitCollectorStage.scala
Labels: core

#1162 Create metadata client actor as system actor
  core/src/main/scala/akka/kafka/scaladsl/MetadataClient.scala
Labels: core

#1163 2.0.4 Release Notes
  docs/src/main/paradox/cluster-sharding.md
  docs/src/main/paradox/home.md
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation
