Repository akka/alpakka-kafka, pull requests merged in 2020-04, with the labels that each got.

#1088 Simpler use with the new actors API
  build.sbt
  core/src/main/scala/akka/kafka/CommitterSettings.scala
  core/src/main/scala/akka/kafka/ConsumerSettings.scala
  core/src/main/scala/akka/kafka/ProducerSettings.scala
Labels: core

#1094 Set stopTimeout to zero in BaseKafkaTest.consumeString.
  testkit/src/main/java/akka/kafka/testkit/javadsl/BaseKafkaTest.java
Labels: testkit

#1084 DrainingControl: creation in toMat
  benchmarks/src/main/scala/akka/kafka/benchmarks/AlpakkaCommittableSinkFixtures.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerBenchmarks.scala
  core/src/main/scala/akka/kafka/javadsl/Consumer.scala
  core/src/main/scala/akka/kafka/scaladsl/Consumer.scala
  docs/src/main/paradox/consumer.md
  testkit/src/main/java/akka/kafka/testkit/javadsl/BaseKafkaTest.java
  tests/src/test/java/docs/javadsl/AtLeastOnceTest.java
  tests/src/test/java/docs/javadsl/ConsumerExampleTest.java
  tests/src/test/java/docs/javadsl/SerializationTest.java
  tests/src/test/java/docs/javadsl/TransactionsExampleTest.java
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
  tests/src/test/scala/akka/kafka/javadsl/ControlSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittableSinkSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ControlSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/TransactionsSpec.scala
  tests/src/test/scala/docs/scaladsl/AtLeastOnce.scala
  tests/src/test/scala/docs/scaladsl/ConsumerExample.scala
  tests/src/test/scala/docs/scaladsl/SerializationSpec.scala
  tests/src/test/scala/docs/scaladsl/TransactionsExample.scala
Labels: benchmarks, core, documentation, testkit, tests

#1095 Simplify commit replying
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
Labels: core

#1085 Non-streaming producer wrapper
  core/src/main/scala/akka/kafka/javadsl/SendProducer.scala
  core/src/main/scala/akka/kafka/scaladsl/SendProducer.scala
  docs/src/main/paradox/producer.md
  docs/src/main/paradox/send-producer.md
  tests/src/test/java/docs/javadsl/SendProducerTest.java
  tests/src/test/scala/docs/scaladsl/SendProducerSpec.scala
Labels: core, documentation, tests

#1096 Testkit: create ProducerMessage.PassThroughResult
  testkit/src/main/scala/akka/kafka/testkit/ProducerResultFactory.scala
Labels: testkit

#1093 Commit when next offset is observed
  core/src/main/resources/reference.conf
  core/src/main/scala/akka/kafka/CommitterSettings.scala
  core/src/main/scala/akka/kafka/internal/CommitCollectorStage.scala
  core/src/main/scala/akka/kafka/internal/CommitObservationLogic.scala
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
Labels: core, tests

#1099 Testkit: Generify test producer consumer
  testkit/src/main/java/akka/kafka/testkit/javadsl/BaseKafkaTest.java
  testkit/src/main/scala/akka/kafka/testkit/internal/KafkaTestKit.scala
Labels: testkit
