Repository akka/alpakka-kafka, pull requests merged in 2020-03, with the labels that each got.

#1073 Add MetadataClient getCommittedOffsets
  core/src/main/scala/akka/kafka/Metadata.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/javadsl/MetadataClient.scala
  core/src/main/scala/akka/kafka/scaladsl/MetadataClient.scala
  docs/src/main/paradox/consumer-metadata.md
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
Labels: core, documentation, tests

#1067 Kafka cluster sharding support with external sharding allocation
  .travis.yml
  build.sbt
  cluster-sharding/src/main/scala/akka/kafka/cluster/sharding/KafkaClusterSharding.scala
  cluster-sharding/src/test/scala/docs/scaladsl/ClusterShardingExample.scala
  docs/src/main/paradox/cluster-sharding.md
  docs/src/main/paradox/consumer.md
  docs/src/main/paradox/index.md
  project/project-info.conf
Labels: core, documentation, tests

#1058 Drain partial offset commit batches on upstream failure
  core/src/main/mima-filters/2.0.2.backwards.excludes
  core/src/main/scala/akka/kafka/ConsumerMessage.scala
  core/src/main/scala/akka/kafka/internal/CommitCollectorStage.scala
  core/src/main/scala/akka/kafka/internal/CommitTrigger.scala
  core/src/main/scala/akka/kafka/internal/CommittableSources.scala
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/MessageBuilder.scala
  core/src/main/scala/akka/kafka/scaladsl/Committer.scala
  docs/src/main/paradox/consumer.md
  testkit/src/main/scala/akka/kafka/testkit/ConsumerResultFactory.scala
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
Labels: benchmarks, core, documentation, testkit, tests

#1079 More HTTPS links
  build.sbt
  docs/src/main/paradox/_template/logo.st
  docs/src/main/paradox/transactions.md
  project/plugins.sbt
Labels: documentation

#1080 Cluster-sharding: single listener per entity type key + Java DSL
  cluster-sharding/src/main/scala/akka/kafka/cluster/sharding/KafkaClusterSharding.scala
  cluster-sharding/src/test/java/docs/javadsl/ClusterShardingExample.java
  cluster-sharding/src/test/scala/docs/scaladsl/ClusterShardingExample.scala
  core/src/main/scala/akka/kafka/Subscriptions.scala
  docs/src/main/paradox/cluster-sharding.md
Labels: core, documentation

#1082 IntegrationSpec: assert the producer fails
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
Labels: tests

#1083 Remove redundant test "connector must not produce any records after send-failure if stage is stopped"
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
Labels: tests

#1087 Docs: sort out API links
  build.sbt
  docs/src/main/paradox/consumer.md
  docs/src/main/paradox/release-notes/1.0.x.md
  docs/src/main/paradox/testing-testcontainers.md
Labels: documentation
