Repository akka/alpakka-kafka, pull requests merged in 2020-01, with the labels that each got.

#1014 Record inflight metrics during benchmarks
  .gitignore
  benchmarks/src/it/scala/akka/kafka/benchmarks/Benchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/InflightMetrics.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/ReactiveKafkaConsumerBenchmarks.scala
  benchmarks/src/main/scala/akka/kafka/benchmarks/Timed.scala
  build.sbt
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  project/plugins.sbt
  testkit/src/main/java/akka/kafka/testkit/internal/AlpakkaKafkaContainer.java
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
  testkit/src/main/scala/akka/kafka/testkit/KafkaTestkitTestcontainersSettings.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/TestcontainersKafkaLike.scala
Labels: benchmarks, core, testkit

#1019 Release notes 2.0.0
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#1022 CommittableProducer: Record outstanding commits on pass-through
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
Labels: core, tests

#1025 Producer: avoid race between failure and upstream finish
  core/src/main/scala/akka/kafka/internal/DefaultProducerStage.scala
  core/src/main/scala/akka/kafka/internal/ProducerStage.scala
  core/src/main/scala/akka/kafka/internal/TransactionalProducerStage.scala
  tests/src/test/scala/docs/scaladsl/ProducerExample.scala
Labels: core, tests

#1026 Release Notes 2.0.1
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#1029 Fix slow-loading offsets during rebalance
  core/src/main/scala/akka/kafka/internal/SubSourceLogic.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
Labels: core, tests

#1030 Release template updates
  docs/release-train-issue-template.md
Labels: documentation
