Repository akka/alpakka-kafka, pull requests merged in 2020-09, with the labels that each got.

#1192 Allow typed Actor Systems in SendProducer and DiscoverySupport
  build.sbt
  core/src/main/scala/akka/kafka/javadsl/DiscoverySupport.scala
  core/src/main/scala/akka/kafka/javadsl/SendProducer.scala
  core/src/main/scala/akka/kafka/scaladsl/DiscoverySupport.scala
  core/src/main/scala/akka/kafka/scaladsl/SendProducer.scala
Labels: core

#1197 RestrictedConsumer: correct deprecation since version
  core/src/main/scala/akka/kafka/RestrictedConsumer.scala
Labels: core

#1198 docs: update Akka version
  docs/src/main/paradox/home.md
Labels: documentation

#1199 2.0.5 Release notes
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#1201 Commit the offset when multi message is empty
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
Labels: core, tests
