Repository akka/alpakka-kafka, pull requests merged in 2020-05, with the labels that each got.

#1110 Security: mask passwords in settings' toString
  core/src/main/scala/akka/kafka/ConsumerSettings.scala
  core/src/main/scala/akka/kafka/ProducerSettings.scala
  docs/src/main/paradox/production.md
  tests/src/test/scala/akka/kafka/ConsumerSettingsSpec.scala
  tests/src/test/scala/akka/kafka/ProducerSettingsSpec.scala
Labels: core, documentation, tests

#1103 Kafka client 2.4.1
  build.sbt
  docs/src/main/paradox/home.md
Labels: documentation

#1112 Build: Jackson 2.10.4 and sbt plugin updates
  build.sbt
  core/src/main/mima-filters/2.0.2.backwards.excludes
  project/plugins.sbt
Labels: core

#1111 Committing: retry commits marked as retriable
  core/src/main/scala/akka/kafka/internal/CommittingProducerSinkStage.scala
  core/src/main/scala/akka/kafka/internal/KafkaConsumerActor.scala
  core/src/main/scala/akka/kafka/internal/ProducerStage.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
Labels: core, tests

#1116 2.0.3 Release notes
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#1119 Docs: swap Java API in SerializationSpec for Scala API
  tests/src/test/scala/docs/scaladsl/SerializationSpec.scala
Labels: tests
