Repository akka/alpakka-kafka, pull requests merged in 2020-11, with the labels that each got.

#1262 Handle any combination of Committables in CommitObservationLogic
  core/src/main/mima-filters/2.1.0-M1.backwards.excludes/PR1262-committables-used-by-commit-when.excludes
  core/src/main/scala/akka/kafka/ConsumerMessage.scala
  core/src/main/scala/akka/kafka/internal/CommitObservationLogic.scala
  core/src/main/scala/akka/kafka/internal/MessageBuilder.scala
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
Labels: to-be-backported

#1252 junit 4.13.1 (was 4.12)
  build.sbt
Labels: testkit

#1266 Fix SoftwareMill logo link in README
  README.md
Labels: documentation
