Repository akka/alpakka-kafka, pull requests merged in 2021-02, with the labels that each got.

#1310 Use restart script
  .gitignore
  testkit/src/main/java/akka/kafka/testkit/internal/AlpakkaKafkaContainer.java
Labels: testkit

#1312 Increase default cluster start timeouts and make configurable
  testkit/src/main/java/akka/kafka/testkit/internal/KafkaContainerCluster.java
  testkit/src/main/resources/reference.conf
  testkit/src/main/scala/akka/kafka/testkit/KafkaTestkitTestcontainersSettings.scala
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
Labels: testkit

#1316 Release notes v2.0.7
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#1307 Migrate build to GitHub actions
  .github/workflows/check-build-test.yml
  .github/workflows/release.yml
  .jvmopts-travis
  .travis.yml
  .travis/travis_alpakka_kafka_rsa.enc
  CONTRIBUTING.md
  README.md
  build.sbt
  docs/release-train-issue-template.md
  scripts/cat-log.sh
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
Labels: documentation, tests

#1317 Release notes v2.0.7 (master)
  docs/src/main/paradox/release-notes/2.0.x.md
Labels: documentation

#1319 Add ProducerResultFactory.multiResult helper for MultiMessage
  testkit/src/main/scala/akka/kafka/testkit/ProducerResultFactory.scala
Labels: testkit

#1330 Don't depend on scalatest in testcontainer singleton
  testkit/src/main/scala/akka/kafka/testkit/internal/TestcontainersKafka.scala
Labels: testkit
