Repository akka/alpakka-kafka, pull requests merged in 2022-10, with the labels that each got.

#1546 Update to Akka 2.7.0-M3
  build.sbt
  testkit/src/main/scala/akka/kafka/testkit/scaladsl/KafkaSpec.scala
  tests/src/test/scala/akka/kafka/TransactionsOps.scala
  tests/src/test/scala/akka/kafka/internal/CommitCollectorStageSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConsumerSpec.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/CommittingSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/ConnectionCheckerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/PartitionedSourcesSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RebalanceSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/RetentionPeriodSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/TimestampSpec.scala
  tests/src/test/scala/docs/scaladsl/SchemaRegistrySerializationSpec.scala
Labels: testkit, tests

#1547 bump: kafka-clients 3.3.1
  .scala-steward.conf
  build.sbt
  docs/src/main/paradox/home.md
  tests/src/test/scala/akka/kafka/internal/ConsumerDummy.scala
Labels: documentation, tests

#1564 bump: Akka M5; sbt 1.7.2 and test library versions
  .scala-steward.conf
  build.sbt
  core/src/main/scala/akka/kafka/ConsumerSettings.scala
  project/build.properties
  project/plugins.sbt
Labels: core

#1569 Update to Akka 2.7.0
  build.sbt
  docs/src/main/paradox/home.md
  docs/src/main/paradox/release-notes/4.0.x.md
  docs/src/main/paradox/release-notes/index.md
Labels: documentation

#1573 Update release issue template
  docs/release-train-issue-template.md
Labels: documentation
