Repository akka/alpakka-kafka, pull requests merged in 2023-06, with the labels that each got.

#1630 doc: Mention mapAsyncPartitioned in context of at-least-once
  docs/src/main/paradox/atleastonce.md
Labels: documentation

#1654 fix: only attach callbacks in DrainingControl.isShutdown once
  core/src/main/scala/akka/kafka/javadsl/Consumer.scala
  core/src/main/scala/akka/kafka/scaladsl/Consumer.scala
  tests/src/test/scala/akka/kafka/scaladsl/ControlSpec.scala
Labels: core, tests

#1650 bump: scala-library 2.13.11 (was 2.13.10)
  benchmarks/src/main/scala/akka/kafka/benchmarks/Timed.scala
  build.sbt
  scripts/link-validator.conf
  tests/src/test/scala/akka/kafka/internal/CommittingProducerSinkSpec.scala
  tests/src/test/scala/akka/kafka/internal/CommittingWithMockSpec.scala
  tests/src/test/scala/akka/kafka/internal/ConsumerSpec.scala
  tests/src/test/scala/akka/kafka/internal/PartitionedSourceSpec.scala
  tests/src/test/scala/akka/kafka/internal/ProducerSpec.scala
  tests/src/test/scala/akka/kafka/scaladsl/IntegrationSpec.scala
  tests/src/test/scala/docs/scaladsl/ClusterShardingExample.scala
Labels: benchmarks, tests
